body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

/* Baniére d'actualité au top */
.act{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FE665A;
    color: white;
    width: auto;
    height: 25%;
    font-family: Montserrat, serif;
}

/* svg fleche qui est un lien*/
.act svg{
    width: 50px;
    height: 50px;
}

.act h3{
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}

#logo_elypsis{
    width: 80%;
    height: 80%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 20px;
    transition: box-shadow 0.3s;
}

.nav-scrolled {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav .logo{
    width: 10%;
    height: 10%;
}
nav .links{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li{
    text-decoration: none;
    list-style: none;
}

nav .links li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

.links li a:hover {
    transition: color 0.3s ease;
    color: #FE665A;
}

.links li a.active {
    color: #FE665A;
}

/* Bouton de base (get started) */
.gstart{
    width: 10rem;
    height: 2.5rem;
    background-color: #FE665A;
    border-color: white;
    border-radius:0.5625rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.gstart:hover{
    background-color: white;
    color: #FE665A;
    border-color: #FE665A;
    box-shadow: #FE665A;
}

/* Bouton en savoir plus */
.ensavoirplus{
    width: 10rem;
    height: 2.5rem;
    background-color: #FE665A;
    border-color: white;
    border-radius:0.5625rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.ensavoirplus:hover{
    background-color: white;
    color: #FE665A;
    border-color: #FE665A;
    box-shadow: #FE665A;
}

/* Bouton en savoir plus 2*/
.ensavoirplus2{
    width: 10rem;
    height: 2.5rem;
    background-color: #FE665A;
    border-color: white;
    border-radius:0.5625rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.ensavoirplus2:hover{
    background-color: white;
    color: #FE665A;
    border-color: #FE665A;
    box-shadow: #FE665A;
}

/* Bouton en savoir plus 3*/
.ensavoirplus3{
    width: 10rem;
    height: 2.5rem;
    background-color: #FE665A;
    border-color: white;
    border-radius:0.5625rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.ensavoirplus3:hover{
    background-color: white;
    color: #FE665A;
    border-color: #FE665A;
    box-shadow: #FE665A;
}


.container-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

/* Bouton 'je veux ça' */
.cpartit{
    width: 80%;
    height: 5rem;
    font-size: 30px;
    font-family: "Leelawadee UI", serif;
    background-color: #FE665A;
    border-color: white;
    border-radius: 10rem;
    color: white;
    margin: auto 0;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.cpartit:hover{
    background-color: #222;
}

.bancontainer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 130px;
}

.bancontainer1 h1{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;
    color: black;
}

.bancontainer1 h3{
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 5px;
}

.bancontainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 130px;
    margin-top: 400px;
}

.bancontainer2 h1{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;
    color: black;
}

.bancontainer2 h3{
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 5px;
}

.bancontainer2>.acgauche{
    margin-left: 100px;
}

.bancontainer3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 130px;
    margin-top: 400px;
}

.bancontainer3 h1{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;
    color: black;
}

.bancontainer3 h3{
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 5px;
}

.acgauche {
    margin-top: 90px;
}

.acdroite {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-right: 100px;
}

.acdroite img {
    width: auto;
    height: auto;
    border-radius: 30px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

#gif2{
    width: 120%;
    height: 120%;
    border-radius: 30px;
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.2);
}

#gif3{
    border-radius: 30px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    margin-left: 100px;
}

.soustitreban{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    width: 60%;
}

.orange-text{
    color: #FE665A;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: left;
    text-transform: capitalize;
}

/*openAUdit animé*/
.orange-text-animated {
    position: relative;
    display: inline;
    color: #FE665A;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: left;
    text-transform: capitalize;
    -webkit-text-stroke: 1px black;
    overflow: hidden;
}

.orange-text-animated::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 110%;
    top: 0;
    left: -200%;
    background: linear-gradient(85deg, transparent 0%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 1) 75%, transparent 100%); /* Dégradé de surbrillance */
    animation: highlightMove 6s linear infinite;
}

@keyframes highlightMove {
    0% {
        left: -1000%;
    }
    100% {
        left: 110%;
    }
}

/* Boîte modale */
.modal {
    font-family: Montserrat;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    max-height: 80vh;
    overflow-y: auto;
}

.modal-content h2 {
    color: #FE665A;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    border-bottom: 2px solid #FE665A;
    padding-bottom: 10px;
}

.modal-content h3 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}

blockquote {
    background-color: #F7F7F7;
    border-left: 5px solid #FE665A;
    padding: 10px;
    margin: 20px 0;
}

/* Style pour la croix de fermeture */
.close-modal-icon {
    font-size: 36px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    width: 20px;
    height: 20px;
    align-items: center;
    color: #000;
    z-index: 9999;
    transition: color 0.3s;
}

/* Style pour la croix de fermeture au survol */
.close-modal-icon:hover {
    color: #FE665A; /* Couleur au survol */
}

/* transition quand la boîte modale apparaît */
.modal.active {
    display: flex;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* transition quand la boîte modale disparaît */
.modal.out {
    animation: fadeOut 0.3s ease-in-out;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Style pour la vidéo YouTube */
iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 80%;
    height: 80vh;
    border-radius: 20px;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

iframe:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.separator {
    border: none;
    border-top: 3px solid rgba(204, 204, 204, 0.56);
    margin-top: 50px;
    margin-bottom: 50px;
}

