@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: white;

    /*background-color: #e3e3e3;*/
    /*background-image: linear-gradient(45deg, #FE665A, rgb(35, 34, 34));*/
}

/* loader de la page */
/* container du loader */
.loader{
    position : absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: whitesmoke;

}
/* animation du loader  */
.anim{
    margin-bottom: 150px;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* text du loader  */
.text-loader{
    font-size: 2rem;
    font-weight: 700;
    color: #FE665A;
}

.fondu-out{
    opacity: 0;
    transition: opacity 0.7s ease-out;
}


/* Baniére d'actualité au top */
.act{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FE665A;
    color: white;
    width: auto;
    height: 25%;
    font-family: Montserrat, serif;
}

/* svg fleche qui est un lien*/
.act svg{
    width: 50px;
    height: 50px;
}

.act h3{
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}

#logo_elypsis{
    width: 80%;
    height: 80%;
    mix-blend-mode: multiply;
}

/*barre de nav*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 20px;
    transition: box-shadow 0.3s;
}

.nav-scrolled {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav .logo{
    width: 10%;
    height: 10%;
}
nav .links{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li{
    text-decoration: none;
    list-style: none;
}

nav .links li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    position: relative;
    padding: 1rem 0 0.5rem;
    margin: 0 1.5rem;
}

.links li a:hover {
    transition: color 0.3s ease;
    color: #FE665A;
}

.links li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 80%;
    height: 1px;
    background-color: rgb(35, 34, 34);
    transition: transform 250ms;
}

.links li a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.links li a.active {
    color: #FE665A;
}

/*Tous les boutons*/
/* Bouton de base (get started) */
.gstart{
    width: 10rem;
    height: 2.5rem;
    background-color: #FE665A;
    border-color: white;
    border-radius:0.5625rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.gstart:hover{
    background-color: white;
    color: #FE665A;
    border-color: #FE665A;
    box-shadow: #FE665A;
}

/* Bouton contact de l'accueil */
.btncontact_accueil{
    width: 20rem;
    height: 5rem;
    font-family: "Leelawadee UI", serif;
    font-size: 28px;
    background-color: #FE665A;
    border-color: white;
    border-radius:0.5625rem;
    color: white;
    font-weight: 700;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btncontact_accueil:hover{
    background-color: rgb(255, 255, 255);
    color: #FE665A;
    border-color: #FE665A;
    box-shadow: #FE665A;
}

/* Bouton en savoir plus */
.ensavoirplus{
    width: 10rem;
    height: 2.5rem;
    background-color: #FE665A;
    border-color: white;
    border-radius:0.5625rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.ensavoirplus:hover{
    background-color: white;
    color: #FE665A;
    border-color: #FE665A;
    box-shadow: #FE665A;
}

/* Bouton en savoir plus 2*/
.ensavoirplus2{
    width: 10rem;
    height: 2.5rem;
    background-color: #FE665A;
    border-color: white;
    border-radius:0.5625rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.ensavoirplus2:hover{
    background-color: white;
    color: #FE665A;
    border-color: #FE665A;
    box-shadow: #FE665A;
}

/* Bouton en savoir plus 3*/
.ensavoirplus3{
    width: 10rem;
    height: 2.5rem;
    background-color: #FE665A;
    border-color: white;
    border-radius:0.5625rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.ensavoirplus3:hover{
    background-color: white;
    color: #FE665A;
    border-color: #FE665A;
    box-shadow: #FE665A;
}

.container-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

/* Bouton 'je veux ça' */
.cpartit{
    width: 80%;
    height: 5rem;
    font-size: 30px;
    font-family: "Leelawadee UI", serif;
    background-color: #FE665A;
    border-color: white;
    border-radius: 10rem;
    color: white;
    margin: auto 0;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.cpartit:hover{
    background-color: #222;
    color: white;
}

/* Bouton 'nous contacter */
.btncontact{
    font-size: 20px;
    width: 20%;
    height: 60px;
    background-color: #FE665A;
    border-radius:0.5625rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    line-height: 90%;
    font-style: oblique;
    box-shadow: aliceblue 1px 1px 1px;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 80px;
}

.btncontact:hover{
    background-color: white;
    color: #FE665A;
    border-color: #FE665A;
    box-shadow: #FE665A 1px 1px 1px;
}

/* Bouton 'Envoyer' du devis */
.submit-button {
    font-size: 20px;
    width: 50%;
    height: 60px;
    background-color: #FE665A;
    color: #FFF;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: rgb(255, 48, 32);
}

.bancontainer {
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 130px;
    flex-shrink: 0;
    font-family: 'Euclid Circular B',arial,sans-serif !important;
    font-style: normal;
    text-transform: capitalize;
}

.bancontainer h1{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

/*container des différents contenus ainsi que les fenetres modales*/
/*contenu et fenetre modale 1*/
.bancontainer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 130px;
}

.bancontainer1 h1{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;
    color: black;
}

.bancontainer1 h3{
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 5px;
}

/*contenu et fenetre modale 2*/
.bancontainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 130px;
    margin-top: 200px;
}

.bancontainer2 h1{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;
    color: black;
}

.bancontainer2 h3{
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 5px;
}

.bancontainer2>.acgauche{
    margin-left: 100px;
}

/*contenu et fenetre modale 3*/
.bancontainer3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 130px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.bancontainer3 h1{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;
    color: black;
}

.bancontainer3 h3{
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 5px;
}

/*partie gauche des contenus (texte)*/
.acgauche {
    margin-top: 90px;
}

/*partie droite des contenus (image)*/
.acdroite {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-right: 100px;
    margin-left: 100px;
}

.acdroite img {
    width: 500px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}


/*sous-titre des contenus*/
.soustitreban{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    width: 60%;
}

/*style texte special de base*/
.orange-text{
    color: #FE665A;
    font-weight: 700;
    font-size: 2.5rem;
}


/*openAUdit animé*/
.orange-text-animated {
    position: relative;
    display: inline;
    color: #FE665A;
    font-weight: 700;
    font-size: 60px;
    text-transform: capitalize;
    -webkit-text-stroke: 1px black;
    overflow: hidden;
}

.orange-text-animated::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 110%;
    top: 0;
    left: -200%;
    background: linear-gradient(
            to right,
            transparent,
            rgba(255, 255, 255, 0.3) 25%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 1) 75%,
            transparent 90%
    );
    pointer-events: none;
    animation: highlightMove 6s infinite linear;
}

/*animation du texte*/
@keyframes highlightMove {
    0% {
        left: -1000%;
    }
    100% {
        left: 70%;
    }
}

/* Boîte modale */
.modal {
    font-family: Montserrat;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    max-height: 80vh;
    overflow-y: auto;
}

.modal-content h2 {
    color: #FE665A;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    border-bottom: 2px solid #FE665A;
    padding-bottom: 10px;
}

.modal-content h3 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}

blockquote {
    background-color: #F7F7F7;
    border-left: 5px solid #FE665A;
    padding: 10px;
    margin: 20px 0;
}

/* Style pour la croix de fermeture */
.close-modal-icon {
    font-size: 36px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    width: 20px;
    height: 20px;
    align-items: center;
    color: #000;
    z-index: 9999;
    transition: color 0.3s;
}

.close-modal-icon:hover {
    color: #FE665A;
}

/* transition quand la boîte modale apparaît */
.modal.active {
    display: flex;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* transition quand la boîte modale disparaît */
.modal.out {
    animation: fadeOut 0.3s ease-in-out;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Style pour la vidéo YouTube */
iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 80%;
    height: 80vh;
    border-radius: 20px;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

iframe:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

/*separateur de page*/
.separator {
    border: none;
    border-top: 3px solid rgba(204, 204, 204, 0.56);
    margin-top: 50px;
    margin-bottom: 50px;
}

/*etude de cas*/
.container-etude-cas {
    display: flex;
    flex-direction: column;
    background-color: #292526;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.container-etude-cas img {
    max-width: 100%;
    border-radius: 20px;
}

.container-etude-cas>h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 100px;
}

.big-text-explication {
    font-style: normal;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 2.5rem;
}

.big-text-explication span {
    font-weight: 700;
    margin: 10px 0;
    line-height: 48px;
    letter-spacing: 1px;
}

/*FAQ*/
.container-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.container-question > h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 100px;
}

.faq {
    margin: 0 auto;
}

.question {
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.question-text {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-right: 600px;
}

.question-text h3 {
    margin: 0;
    font-weight: bold;
}

.ligne-horiz{
    height: 1px;
    border-radius: 20px;
    background-color: #FE665A;
    margin-top: 10px;
    margin-bottom: 10px;
}

.triangle {
    position: absolute;
    transition: transform 0.5s ease;
    right: 0;
}

.question.open .triangle {
    transform: rotate(180deg);
}

.answer {
    font-family: "Source Code Pro", monospace;
    padding: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.question.open .answer {
    max-height: 1000px;
    opacity: 1;
}

/* Footer */
.footer {
    background-color: #292526;
    color: #fff;
    padding: 40px 0;
    font-size: 1rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-info,
.address,
.social-icons,
.footer-nav {
    flex: 1;
    margin-right: 20px;
}

.contact-info h3,
.address h3,
.social-icons h3,
.footer-nav h3 {
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    text-decoration: underline #FE665A 2px;
}

.contact-info p,
.address p {
    margin: 0;
}

.social-icons ul,
.footer-nav ul {
    list-style: none;
    padding: 0;
}

.social-icons li,
.footer-nav li {
    margin-bottom: 10px;
}

.social-icons li{
    font-size: 25px;
}

.social-icons a,
.footer-nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}


.social-icons a:hover,
.footer-nav a:hover {
    color: #F24E1E;
}

.footer-bottom p{
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-size: 0.8rem;
}

.footer-bottom a {
    text-decoration: none;
    color: inherit;
}

.footer-bottom a:hover {
    color: #555;
}

/*scroll to top*/
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    display: none;
    text-align: center;
    line-height: 40px;
    background-color: transparent;
}

.scroll-to-top a {
    text-decoration: none;
    color: #FFA500;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    font-size: 30px;
}

.scroll-to-top a:hover {
    color: #fff;
    background-color: #FE665A;
}

/*items de la page d'accueil*/
.validation-list {
    display: flex;
    flex-direction: column;
}

.validation-item {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
}

.validation-list .validation-item p{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding-left: 5px;
}

.validation-list .validation-item p:hover{
    color: #FE665A;
}

.validation-list .validation-item i{
    display: inline-block;
    font-size: 25px;
    color: #FE665A;
    transition: transform 0.3s ease;
}

.validation-list .validation-item i:hover{
    transform: rotate(360deg);
}
  
/*bannère des logos*/
.banlogo {
    width: 100%;
    height: 150px;
    margin-top: 50px;
    background-color: #292526;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos-container {
    display: flex;
    align-items: center;
    gap: 26px;
    justify-content: center;
}

.barre-orange {
    width: 2px;
    height: 40px;
    background-color: #FE665A;
    margin: 0 20px;
}

/*container des explications*/
.informations-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.big-text-explication-white {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    word-wrap: break-word;
    text-align: center;
    color: white;
    text-transform: capitalize;
}

.small-text-explication{
    margin: -30px auto auto;
    text-align: center;
    width: 70%;
}

.small-text-explication span {
    display: inline-block;
    font-size: 20px;
    font-weight: 450;
    line-height: 24px;
    color: #000;
    font-style: normal;
}

.ban-accordeon{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}  

.ban-accordeon svg{
    margin: auto;
}

/* Styles pour l'accordéon */
.accordeon {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
  
.accordeon-item {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
  
.accordeon-header {
    padding-left: 15%;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 0.3s;
    border-left: 4px solid #000;
}
  
.accordeon-title {
    font-weight: bold;
    font-size: large;
}

.accordeon-content {
    padding-left: 15%;
    display: none;
    position: relative;
    z-index: 2;
    background-color: #fff;
    margin-left: 0; /* Supprimer la marge */
    transition: background-color 0.3s, max-height 0.5s ease-in-out;
    max-height: 0;
    overflow: hidden;
}
  
.accordeon-item.open .accordeon-content {
    display: block; /* Afficher le contenu lorsque l'élément est ouvert */
    max-height: 500px; /* Ajuster la hauteur du contenu ouvert */
    transition: background-color 0.3s, max-height 0.5s ease-in-out;
    border-left: 4px solid #FE665A; /* Bordure fermée orange */
}
  
.accordeon-item.open .accordeon-header {
    border-color: #F86642; /* Changer la couleur de la bordure quand ouvert */
}

.paragraph-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.paragraph {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.paragraph:hover{
    border-color: #F86642;
    border-radius: 10px;
    border-width: 5px;
}

.left {
    display: flex;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.content {
    flex: 1;
}

.title {
    color: #F86642;
    margin: 0;
}

.description {
    margin: 0;
    font-size: 14px;
}

.video {
    margin-top: 20px;
}

.video iframe {
    width :621px; 
    height : 340px;
    top: 0;
    left: 0;
}

/*styles pour les cartes*/
.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px;
    overflow: hidden;
}

.card-container {
    position: relative;
    height: 400px;
    width: 290px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container:hover .card {
    transform: rotateY(180deg);
    cursor: grab;
}

.card {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    border: 2px solid #FE665A;
    border-radius: 30px;
    background-color: #FE665A;
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.25);
}

.card-front,
.card-back {
    position: absolute;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    border-radius: 30px;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
}

.card-front {
    background: #FFF;
    display: flex;
    flex-direction: column;
    color: #FE665A;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    gap: 40px;
}

.card-back {
    background: #FFC1A1;
    color: #000000;
    font-weight: 500;
    font-size: 22px;
    line-height: 35px;
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,
    Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; /*police de ChatGPT*/
    transform: rotateY(-180deg);
}

.card-back div{
    margin: 20px;
}

/* section a propos de*/
.about-section {
    background: white;
    color: black;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 1px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: justify;
    margin: 100px auto;
}

.about-section h1 {
    font-size: 2em;
    color: #333;
    text-align: center;
}

.about-section p {
    margin-bottom: 20px;
}

.about-section p:first-child {
    font-weight: bold;
}

/*bubble section*/
.bubble-container {
    font-family: "Roboto Thin", Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emojiserif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 100px;
}

.bubble {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    padding: 30px;
    background: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.2s ease;
}

.left {
    align-self: flex-start;
    border-radius: 35px 35px 35px 0;
}

.right {
    align-self: flex-end;
    border-radius: 35px 35px 0 35px;
}

.bubble:hover {
    transform: scale(1.05);
    background-color: #FE665A;
    cursor: cell;
}

/*contact section*/
.contact-container {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    border-radius: 10px;
}

.contact-container h1 {
    font-size: 3rem;
    font-weight: 700;
}

.contact-form {
    max-width: 600px;
    margin: auto;
}

.input-field {
    position: relative;
    margin-bottom: 30px;
}

input, textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
}

label {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 15px;
    left: 15px;
    color: black;
    transition: all 0.3s ease;
}

input:focus + label,
textarea:focus + label,
input:valid + label,
textarea:valid + label {
    opacity: 1;
    top: -18px;
    font-size: 14px;
    color: #FE665A;
}

input::placeholder,
textarea::placeholder {
    opacity: 0.5;
}

.container-etiquette {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-items: flex-start;
    font-family: "Montserrat", sans-serif;
    gap: 200px;
}

.etiquette {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 100px;
    width: 800px;
    height: 140px;
    align-items: center;
}

.etiquette svg {
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}

.etiquette.active svg {
    width: 150px;
    height: 150px;
}

.etiquette svg:hover {
    transform: translateY(2px);
    background-color: #FE665A;
    cursor: pointer;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.etiquette svg:hover path {
    fill: white;
}

.etiquette-content {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.0000001s ease-in-out;
}

.etiquette-content h4,
.etiquette-content p {
    margin: 0;
}

.etiquette-content h4 {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}

.etiquette-content h4:hover {
    color: #FE665A;
    cursor: pointer;
}

.etiquette-content p {
    color: #6F6C90;
    font-family: DM Sans;
    font-size: 28px;
    font-weight: 400;
    line-height: 20px;
}

.etiquette-popup {
    background-color: #FE665A;
    border-radius: 8px;
    color: white;
    padding: 16px;
    position: absolute;
    width: 600px;
    height: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    z-index: 10;
    margin-left: 200px;
    transition: all 0.3s ease-in-out;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.visible {
    opacity: 1;
    pointer-events: auto;
}

.hidden-content {
    opacity: 0;
}

#object1{
    display: flex;
    margin-left: 1000px;
    position: relative;
    animation: rotate 4s infinite linear;
}

#object2{
    display: flex;
    margin-left: 500px;
    position: absolute;
    animation: rotate 10s infinite linear;
}

#object3{
    display: flex;
    margin-left: 800px;
    position: absolute;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
}

.line {
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.line::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #000000 75%, #000000 100%);
    animation: drop 10s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
    margin-left: -25%;
}

.line:nth-child(1)::after {
    animation-delay: 2s;
}

.line:nth-child(3) {
    margin-left: 25%;
}

.line:nth-child(3)::after {
    animation-delay: 3.5s;
}

@keyframes drop {
    0% {
        top: -50%;
    }
    100% {
        top: 110%;
    }
}



.container-blog {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.container-blog h1 {
    text-align: center;
    color: #333;
    margin-bottom: 50px;
}

.blog-list {
    list-style: none;
    padding: 0;
}

.blog-item {
    display: block;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    color: #333;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    box-shadow: 0 3px 15px rgba(0,0,0,0.1);
}

.blog-item .arrow {
    opacity: 0;
    position: absolute;
    right: 20px;
    transition: opacity 0.3s ease;
}

.blog-item:hover {
    padding-right: 40px;
    background-color: #eee;
}

.blog-item:hover .arrow {
    opacity: 1;
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}
