/*
    CSS
    @Ellipsys
    @Auteur: AmpleurWeb
    @Date:   2023
*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&subset=cyrillic');

:root {
    --background-color-light: white;
    --background-color-dark: #202123;
    --text-color-light: black;
    --text-color-dark: whitesmoke;
    --act-color-dark: rgba(254, 102, 90, 0.81);
    --act-color-light: #FE665A;
    --nav-color-dark: rgba(35, 34, 34, 0.85);
    --nav-box-shadow-scrolled-light: 0 2px 4px rgba(0, 0, 0, 0.1);
    --nav-box-shadow-scrolled-dark: 0 2px 4px rgba(255, 77, 77, 0.18);
    --nav-link-hover-barre-light: rgb(35, 34, 34);
    --nav-link-hover-barre-dark: rgb(255, 208, 194);
    --sous-titre-ban-color-light: black;
    --sous-titre-ban-color-dark: lightgray;
    --openAudit-anime-stroke-light: 1px black;
    --openAudit-anime-stroke-dark: 1px rgba(73, 13, 21, 0.7);
    --background-color-etude-de-cas-dark: rgba(52, 53, 65, 0.5);
    --background-color-etude-de-cas-light: #292526;
    --color-ligne-horiz-question-dark: rgba(255, 77, 77, 0.62);
    --color-ligne-horiz-question-light: #FE665A;
    --question-box-shadow-dark: 0 1px 2px 2px rgba(255, 255, 255, 0.11);
    --question-box-shadow-light: 0 15px 30px rgba(0, 0, 0, 0.3);
    --footer-background-color-dark: rgba(52, 53, 65, 0.5);
    --footer-background-color-light: #292526;
    --ban-logo-color-dark: rgba(52, 53, 65, 0.5);
    --ban-logo-color-light: #292526;
    --border-left-accordeon-title-dark: 4px solid #ffaca1;
    --border-left-accordeon-title-light: 4px solid #000;
    --boxshadow-color-a-propos-de-dark: 0 1px 4px 8px rgba(255, 255, 255, 0.26);
    --boxshadow-color-a-propos-de-light: 0 1px 4px 8px rgba(0, 0, 0, 0.1);
    --bubble-color-boxshadow-dark: 0 4px 8px rgba(255, 255, 255, 0.26);
    --bubble-color-background-dark: #29292c;
    --bubble-color-background-light: #000;
    --blog-h1-color-dark: #ff8880;
    --blog-h1-color-light: #333;
    --blog-item-background-color-dark: #434553;
    --blog-item-background-color-light: #fff;
    --blog-item-hover-background-color-dark: #eee;
    --blog-item-hover-color-dark: #29292c;
    --blog-item-mdi-hover-color-dark: #ff8880;
}

.ui-dark-theme {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --act-color: var(--act-color-dark);
    --nav-color: var(--nav-color-dark);
    --nav-box-shadow-scrolled: var(--nav-box-shadow-scrolled-dark);
    --nav-link-hover-barre: var(--nav-link-hover-barre-dark);
    --sous-titre-ban-color: var(--sous-titre-ban-color-dark);
    --openAudit-anime-stroke: var(--openAudit-anime-stroke-dark);
    --background-color-etude-de-cas: var(--background-color-etude-de-cas-dark);
    --color-ligne-horiz-question: var(--color-ligne-horiz-question-dark);
    --question-box-shadow: var(--question-box-shadow-dark);
    --footer-background-color: var(--footer-background-color-dark);
    --ban-logo-color: var(--ban-logo-color-dark);
    --border-left-accordeon-title: var(--border-left-accordeon-title-dark);
    --boxshadow-color-a-propos-de: var(--boxshadow-color-a-propos-de-dark);
    --bubble-color-boxshadow: var(--bubble-color-boxshadow-dark);
    --bubble-color-background: var(--bubble-color-background-dark);
    --blog-h1-color: var(--blog-h1-color-dark);
    --blog-item-background-color: var(--blog-item-background-color-dark);
    --blog-item-hover-background-color: var(--blog-item-hover-background-color-dark);
    --blog-item-hover-color: var(--blog-item-hover-color-dark);
    --blog-item-mdi-hover-color: var(--blog-item-mdi-hover-color-dark);
}

.ui-light-theme {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --act-color: var(--act-color-light);
    --nav-box-shadow-scrolled: var(--nav-box-shadow-scrolled-light);
    --nav-link-hover-barre: var(--nav-link-hover-barre-light);
    --sous-titre-ban-color: var(--sous-titre-ban-color-light);
    --openAudit-anime-stroke: var(--openAudit-anime-stroke-light);
    --background-color-etude-de-cas: var(--background-color-etude-de-cas-light);
    --color-ligne-horiz-question: var(--color-ligne-horiz-question-light);
    --question-box-shadow: var(--question-box-shadow-light);
    --footer-background-color: var(--footer-background-color-light);
    --ban-logo-color: var(--ban-logo-color-light);
    --border-left-accordeon-title: var(--border-left-accordeon-title-light);
    --boxshadow-color-a-propos-de: var(--boxshadow-color-a-propos-de-light);
    --bubble-color-background: var(--bubble-color-background-light);
    --blog-h1-color: var(--blog-h1-color-light);
    --blog-item-background-color: var(--blog-item-background-color-light);

    .c-theme-switch {
        .c-theme-switch__toggle {
            transform: translateX(37px);
        }
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color)
}

/* loader de la page */
/* container du loader */
.loader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
}

/* animation du loader  */
.anim {
    margin-bottom: 150px;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* text du loader  */
.text-loader {
    font-size: 2rem;
    font-weight: 700;
    color: #FE665A;
}

.fondu-out {
    opacity: 0;
    transition: opacity 0.7s ease-out;
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

/* Baniére d'actualité au top */
.news-container {
    overflow: hidden;
    display: flex;
    padding: 10px;
    white-space: nowrap;
    background-color: var(--act-color);
    max-height: 120px;
    font-family: Montserrat, serif;
    color: white;
}

.news-wrapper {
    display: flex;
    animation: scrollNews 35s linear infinite;
}

.news {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 1300px;
    /* distance entre les actualités */
}

.news a {
    color: white;
    text-decoration: none;
}

@keyframes scrollNews {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* svg fleche qui est un lien*/
/*.act svg {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*}*/

#logo_elypsis {
    width: 80%;
    height: 80%;
    border-radius: 20px;
}

/*barre de nav*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: box-shadow 0.3s;
    background-color: var(--nav-color);
    font-size: 15px;
}

.nav-scrolled {
    box-shadow: var(--nav-box-shadow-scrolled);
}

nav .links {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li {
    text-decoration: none;
    list-style: none;
}

nav .links li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    position: relative;
    padding: 1rem 0 0.5rem;
    margin: 0;
    display: block;
}

.links li a:hover {
    transition: color 0.3s ease;
    color: #FE665A;
}

.links li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 80%;
    height: 1px;
    background-color: var(--nav-link-hover-barre);
    transition: transform 250ms;
}

.links li a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.links li a.active {
    color: #FE665A;
}

#icons {
    cursor: pointer;
}

/*Tous les boutons*/
/* Bouton de base (get started) */
.gstart {
    width: 10rem;
    height: 2.5rem;
    background-color: #FE665A;
    border-color: white;
    border-radius: 0.5625rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.gstart:hover {
    background-color: white;
    color: #FE665A;
    border-color: #FE665A;
    box-shadow: #FE665A;
}

/* Bouton contact de l'accueil */
.btncontact_accueil {
    width: 70%;
    height: auto;
    padding: 1rem 2rem;
    font-family: "Leelawadee UI", serif;
    font-size: 28px;
    background-color: #FE665A;
    border-color: white;
    border-radius: 0.5625rem;
    color: white;
    font-weight: 700;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btncontact_accueil:hover {
    background-color: rgb(255, 255, 255);
    color: #FE665A;
    border-color: #FE665A;
    box-shadow: #FE665A;
}

.btncontact_accueil a {
    text-decoration: none;
    color: inherit;
}

/* Bouton en savoir plus */
.ensavoirplus {
    width: 15rem;
    height: 2.5rem;
    background-color: #FE665A;
    border-color: white;
    border-radius: 0.5625rem;
    color: white;
    margin-top: 20px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.ensavoirplus:hover {
    background-color: white;
    color: #FE665A;
    border-color: #FE665A;
    box-shadow: #FE665A;
}

/* Bouton en savoir plus 2*/
.ensavoirplus2 {
    width: 15rem;
    height: 2.5rem;
    background-color: #FE665A;
    border-color: white;
    border-radius: 0.5625rem;
    color: white;
    margin-top: 20px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.ensavoirplus2:hover {
    background-color: white;
    color: #FE665A;
    border-color: #FE665A;
    box-shadow: #FE665A;
}

/* Bouton en savoir plus 3*/
.ensavoirplus3 {
    width: 15rem;
    height: 2.5rem;
    background-color: #FE665A;
    border-color: white;
    border-radius: 0.5625rem;
    color: white;
    margin-top: 20px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.ensavoirplus3:hover {
    background-color: white;
    color: #FE665A;
    border-color: #FE665A;
    box-shadow: #FE665A;
}

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

/* Bouton 'je veux ça' */
.cpartit {
    width: 80%;
    height: 5rem;
    font-size: 30px;
    font-family: "Leelawadee UI", serif;
    background-color: #FE665A;
    border-color: white;
    border-radius: 10rem;
    color: white;
    margin: auto 0;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.cpartit:hover {
    background-color: #222;
    color: white;
}

/* Bouton 'nous contacter */
.btncontact {
    font-size: 20px;
    width: 20%;
    height: 60px;
    background-color: #FE665A;
    border-radius: 0.5625rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    line-height: 90%;
    font-style: oblique;
    box-shadow: aliceblue 1px 1px 1px;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 80px;
}

.btncontact:hover {
    background-color: white;
    color: #FE665A;
    border-color: #FE665A;
    box-shadow: #FE665A 1px 1px 1px;
}

/* Bouton 'Envoyer' du devis */
.submit-button {
    text-decoration: none;
    font-size: 20px;
    width: 50%;
    height: 60px;
    background-color: #FE665A;
    color: #FFF;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: rgb(255, 48, 32);
}

.bancontainer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-shrink: 0;
    font-family: "HoloLens MDL2 Assets", sans-serif;
    font-style: normal;
}

.bancontainer h1 {
    text-align: center;
    font-size: 65px;
    letter-spacing: 2px;
    flex-shrink: 1;
    min-width: 50px;
    font-weight: bold;
    color: var(--text-color);
}

/*container des différents contenus ainsi que les fenetres modales*/
/*contenu et fenetre modale 1*/
.bancontainer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 130px;
}

.bancontainer1 h1 {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: left;
    color: var(--text-color);
}

.bancontainer1 h3 {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 700;
    margin-left: 5px;
}

/*contenu et fenetre modale 2*/
.bancontainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 130px;
    margin-top: 200px;
}

.bancontainer2 h1 {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: left;
    color: var(--text-color);
}

.bancontainer2 h3 {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 700;
    margin-left: 5px;
}

.bancontainer2>.acgauche {
    margin-left: 130px;
}

/*contenu et fenetre modale 3*/
.bancontainer3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 130px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.bancontainer3 h1 {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: left;
    color: var(--text-color);
}

.bancontainer3 h3 {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 700;
    margin-left: 5px;
}

/*partie droite des contenus (image)*/
.acdroite {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*sous-titre des contenus*/
.soustitreban {
    font-size: 26px;
    /*font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-style: normal;
    line-height: 1.3;
    font-weight: 400;
    width: 90%;
    margin-top: 20px;
    color: var(--sous-titre-ban-color);
}

/*style texte special de base*/
.orange-text {
    color: #FE665A;
    font-weight: 700;
    font-size: 3.5rem;
}


/*openAUdit animé*/
.orange-text-animated {
    color: #FE665A;
    font-weight: 700;
    font-size: 60px;
    /*-webkit-text-stroke: var(--openAudit-anime-stroke);*/
}

/* Boîte modale */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.modal-content {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    border-radius: 20px;
    max-width: 80%;
    max-height: 80vh;
    overflow-y: auto;
    margin: 10px;
    gap: 10px;
    border: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
}

.modal-content h2 {
    text-decoration: underline #FE665A 2px;
    font-size: 22px;
}

.modal-content h3 {
    margin-top: 20px;
}

.modal-content p {
    margin-top: 20px;
}

blockquote {
    display: flex;
    flex-direction: column;
    font-family: "Dubai", monospace;
    font-size: 1.2rem;
    background-color: rgba(91, 87, 87, 0.13);
    border-left: 5px solid #232222;
    padding: 15px;
    margin: 30px 0;
}

blockquote ul {
    padding-left: 0px;
}

blockquote li {
    margin: 10px;
}

/* Style pour la croix de fermeture */
.close-modal-icon {
    font-size: 36px;
    position: fixed;
    top: 30px;
    right: 30px;
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    width: 20px;
    height: 20px;
    align-items: center;
    color: rgba(221, 221, 221, 0.5);
    z-index: 9999;
    transition: color 0.3s;
}

.close-modal-icon:hover {
    color: #FE665A;
}

/* transition quand la boîte modale apparaît */
.modal.active {
    display: flex;
    animation: fadeIn 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* transition quand la boîte modale disparaît */
.modal.out {
    animation: fadeOut 0.3s ease-in-out;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Style pour la vidéo YouTube */
iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 80%;
    height: 80vh;
    border-radius: 20px;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

iframe:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

/*separateur de page*/
.separator {
    border: none;
    border-top: 3px solid rgba(204, 204, 204, 0.56);
    margin-top: 30px;
    /* ajustement de l'espacement */
    margin-bottom: 30px;
}

/*etude de cas*/
.container-etude-cas {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-etude-de-cas);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.container-etude-cas img {
    max-width: 100%;
    border-radius: 20px;
}

.container-etude-cas>h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 100px;
}

.big-text-explication {
    font-style: normal;
    margin: 100px 20px;
    font-size: 3.5rem;
}

.big-text-explication span {
    font-weight: 700;
    margin: 10px 0;
    line-height: 48px;
    letter-spacing: 1px;
}

/*FAQ*/
.container-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto 50px;
    color: var(--text-color);
    width: 90%;
}

.container-question>h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 100px;
}

.faq {
    margin: 0 auto;
}

.question {
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.question-text {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-right: 600px;
}

.question-text h3 {
    margin: 0;
    font-family: Roboto, serif;
}

.ligne-horiz {
    height: 1px;
    border-radius: 20px;
    background-color: var(--color-ligne-horiz-question);
    margin-top: 10px;
    margin-bottom: 10px;
}

.triangle {
    position: absolute;
    transition: transform 0.5s ease;
    right: 0;
}

.question.open .triangle {
    transform: rotate(180deg);
}

.answer {
    font-family: "Segoe UI Semibold", serif;
    padding: 25px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    border-radius: 10px;
    box-shadow: var(--question-box-shadow);
}

.question.open .answer {
    max-height: 1000px;
    opacity: 1;
}

/* Footer */
.footer {
    background-color: var(--footer-background-color);
    color: #fff;
    padding: 40px 0;
    font-size: 1rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-info,
.address,
.social-icons,
.footer-nav {
    flex: 1;
    margin-right: 20px;
}

.contact-info h3,
.address h3,
.social-icons h3,
.footer-nav h3 {
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    text-decoration: underline #FE665A 2px;
}

.contact-info p,
.address p {
    margin: 0;
}

.social-icons ul,
.footer-nav ul {
    list-style: none;
    padding: 0;
}

.social-icons li,
.footer-nav li {
    margin-bottom: 10px;
}

.social-icons li {
    font-size: 25px;
}

.social-icons a,
.footer-nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}


.social-icons a:hover,
.footer-nav a:hover {
    color: #F24E1E;
}

.footer-bottom p {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-size: 0.8rem;
}

.footer-bottom a {
    text-decoration: none;
    color: inherit;
}

.footer-bottom a:hover {
    color: #555;
}

/*scroll to top*/
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    display: none;
    text-align: center;
    line-height: 40px;
    background-color: transparent;
}

.scroll-to-top a {
    text-decoration: none;
    color: #FFA500;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    font-size: 30px;
}

.scroll-to-top a:hover {
    color: #fff;
    background-color: #FE665A;
}

/*items de la page d'accueil*/
.validation-list {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.validation-item {
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--text-color);
}

.validation-list .validation-item p {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    padding-left: 10px;
}

.validation-list .validation-item p:hover {
    color: #FE665A;
}

.validation-list .validation-item i {
    display: inline-block;
    font-size: 25px;
    color: #FE665A;
    transition: transform 0.3s ease;
}

.validation-list .validation-item i:hover {
    transform: rotate(360deg);
}

/*bannère des logos*/
.banlogo {
    height: 10vw;
    min-height: 100px;
    margin-top: 3vw;
    background-color: var(--ban-logo-color);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.logos-container {
    display: flex;
    align-items: center;
    gap: 26px;
    justify-content: center;
    white-space: nowrap;
}

.logo-action {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scrollLogos 15s linear infinite;
    width: calc(200% - 10vw);
}

.logo img {
    width: 10vw;
    min-width: 70px;
    filter: brightness(1) contrast(10);
}

.barre-orange {
    display: flex;
    width: 0.1vw;
    height: 5vw;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #FE665A;
}

@keyframes scrollLogos {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/*container des explications*/
.informations-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    margin: auto;
}

.small-text-explication {
    margin: -30px auto auto;
    text-align: center;
    width: 70%;
}

.small-text-explication span {
    display: inline-block;
    font-size: 20px;
    font-weight: 450;
    line-height: 24px;
    color: var(--text-color);
    font-style: normal;
}

/*section accordeon*/
.ban-accordeon {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1%;
    color: var(--text-color);
}

.ban-accordeon svg {
    margin: auto;
}

/* Styles pour l'accordéon */
.accordeon {
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

.accordeon-item {
    width: 100%;
    ;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.accordeon-title {
    cursor: pointer;
    text-align: left;
    font-weight: bold;
    font-size: 35px;
    padding-left: 10%;
    transition: background-color 0.3s;
    border-left: var(--border-left-accordeon-title);
}

.accordeon-content {
    text-align: left;
    padding-left: 15%;
    position: relative;
    z-index: 2;
    margin-left: 0;
    font-size: 25px;
    transition: background-color 0.3s, max-height 0.5s ease-in-out;
    max-height: 0;
    overflow: hidden;
}

.accordeon-title:hover,
.accordeon-item.open .accordeon-title {
    /* background-color: rgba(255, 103, 65, 0.1); */
    border-color: #F86642;
}

.accordeon-item.open .accordeon-content {
    display: block;
    max-height: 500px;
    transition: background-color 0.3s, max-height 0.5s ease-in-out;
    border-left: 4px solid #F86642;
    border-left: 4px solid #F86642;
}

.accordeon-item.open .accordeon-title {
    border-color: #F86642;
}

/* partit pour masquez et affichez les lotties */
.lottie-container {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    position: relative;
}

.lottie-container .hidden {
    display: none;
}

.lottie-container .visible {
    display: block;
}

.accordeon-item.open .accordeon-title {
    border-color: #F86642;
}

/*video etude de cas*/
.video {
    margin-top: 20px;
}

.video iframe {
    width: 1200px;
    height: 600px;
    top: 0;
    left: 0;
}

/*styles pour les cartes*/
.cards-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 100px;
    overflow: hidden;
}

.card-container {
    position: relative;
    height: 400px;
    width: 290px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container:hover .card {
    transform: rotateY(180deg);
    cursor: grab;
}

.card {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    border: 2px solid #FE665A;
    border-radius: 30px;
    background-color: #FE665A;
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.25);
}

.card-front,
.card-back {
    position: absolute;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    border-radius: 30px;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
}

.card-front {
    background: #FFF;
    display: flex;
    flex-direction: column;
    color: #FE665A;
    font-size: clamp(12px, 1.5vw, 30px);
    font-weight: 700;
    line-height: 35px;
    gap: 40px;
}

.card-back {
    background: #FFC1A1;
    color: #000000;
    font-weight: 600;
    font-size: clamp(12px, 1.2vw, 26px);
    line-height: 35px;
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
        Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    /*police de ChatGPT*/
    transform: rotateY(-180deg);
    cursor: grab;
}

.card-back div {
    margin: 20px;
}

.card-back a {
    text-decoration: none;
    color: inherit;
}

.card-back a:hover,
.card-back a:focus,
.card-back a:active {
    text-decoration: none;
    color: inherit;
}

/* section a propos de*/
.about-section {
    background: white;
    color: black;
    padding: 2em;
    border-radius: 8px;
    box-shadow: var(--boxshadow-color-a-propos-de);
    max-width: 800px;
    text-align: justify;
    margin: 100px auto;
}

.about-section h1 {
    font-size: 2em;
    color: #333;
    text-align: center;
}

.about-section p {
    margin-bottom: 20px;
}

.about-section p:first-child {
    font-weight: bold;
}

/*bubble section*/
.bubble-container {
    font-family: "Roboto Thin", Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
        Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emojiserif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 100px;
}

.bubble {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    padding: 30px;
    background: var(--bubble-color-background);
    box-shadow: var(--bubble-color-boxshadow);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.2s ease;
}

/*bubble de gauche*/
.left {
    align-self: flex-start;
    border-radius: 35px 35px 35px 0;
}

/*bubble de droite*/
.right {
    align-self: flex-end;
    border-radius: 35px 35px 0 35px;
}

.bubble:hover {
    transform: scale(1.05);
    background-color: #FE665A;
    cursor: cell;
}

.contact-container {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    border-radius: 10px;
}

.contact-container h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 30px;
}

.contact-form {
    max-width: 600px;
    margin: auto;
}

.input-field {
    position: relative;
    margin-bottom: 30px;
}

input,
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
}

label {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 15px;
    left: 15px;
    color: black;
    transition: all 0.3s ease;
}

input:focus+label,
textarea:focus+label,
input:valid+label,
textarea:valid+label {
    opacity: 1;
    top: -18px;
    font-size: 14px;
    color: #FE665A;
}

input::placeholder,
textarea::placeholder {
    opacity: 0.5;
}

/*section methodologie etiquette*/
:root {
    --card-height: 40vw;
    --card-margin: 2vw;
    --card-top-offset: 1em;
    --numcards: 4;
}

#cards {
    /*height: calc(var(--numcards) * var(--card-height) + (var(--numcards) - 1) * var(--card-margin));*/
    padding-bottom: calc(var(--numcards) * var(--card-top-offset));
    /* Make place at bottom, as items will slide to that position*/
    margin-bottom: var(--card-margin);
    /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--numcards), var(--card-height));
    gap: var(--card-margin);
}

#card_1 {
    --index: 1;
}

#card_2 {
    --index: 2;
}

#card_3 {
    --index: 3;
}

#card_4 {
    --index: 4;
}

#card_5 {
    --index: 4;
}

#card_6 {
    --index: 4;
}

.card {
    position: sticky;
    top: -50px;
}

/* style de carte */
main {
    width: 85vw;
    margin: 0 auto;
}

.card__content {
    background: rgb(255, 255, 255);
    color: rgb(10, 5, 7);
    border-radius: 3em;
    overflow: hidden;
    display: grid;
    height: 100%;
    grid-template-areas: "text img";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: stretch;
}

.card__content>div {
    grid-area: text;
    margin: 2em;
    place-self: center;
    text-align: left;
    display: grid;
    gap: 1em;
    place-items: start;
}

.card__content>figure {
    grid-area: img;
    overflow: hidden;
}

.card__content>figure>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__content h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 4em;
}

.card__content p {
    color: #6F6C90;
    font-family: DM Sans;
    font-weight: 300;
}

.lire_plus {
    background-color: #FFFFFF;
    color: #FE665A;
    padding: 12px 24px;
    border-radius: 8px;
    border: 2px solid #FE665A;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.lire_plus:hover {
    background-color: #FE665A;
    color: #FFFFFF;
}

/*@supports (animation-timeline: works) {*/

/* @scroll-timeline cards-element-scrolls-in-body {
    source: selector(body);
    scroll-offsets:
        /* Start when the start edge touches the top of the scrollport
            selector(#cards) start 1,
                /* End when the start edge touches the start of the scrollport
            selector(#cards) start 0
;
    start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport
    end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport
    time-range: 4s;
}

.card {
    --index0: calc(var(--index) - 1); /* 0-based index
    --reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index
    --reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index
}

.card__content {
    transform-origin: 50% 0;
    will-change: transform;

    --duration: calc(var(--reverse-index0) * 1s);
    --delay: calc(var(--index0) * 1s);

    animation: var(--duration) linear scale var(--delay) forwards;
    animation-timeline: cards-element-scrolls-in-body;
} */

/*    @keyframes scale {*/
/*        to {*/
/*            transform:*/
/*                scale(calc(1.1 - calc(0.1 * var(--reverse-index))));*/
/*        }*/
/*    }*/
/*}*/

/*section methodologie etiquette celle d'avant au cas ou on veut en faire qql chose*/
.container-etiquette {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-items: flex-start;
    font-family: "Montserrat", sans-serif;
    gap: 200px;
    color: white;
}

.etiquette {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 100px;
    width: 800px;
    height: 140px;
    align-items: center;
}

.etiquette svg {
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    background-color: #575757;
}

.etiquette.active svg {
    width: 150px;
    height: 150px;
    background-color: #FE665A;
}

.etiquette.active svg path {
    fill: white;
}

.etiquette svg:hover {
    transform: translateY(2px);
    background-color: #FE665A;
    cursor: pointer;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.etiquette svg:hover path {
    fill: white;
}

.etiquette-content {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.0000001s ease-in-out;
}

.etiquette-content h4,
.etiquette-content p {
    margin: 0;
}

.etiquette-content h4 {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}

.etiquette-content h4:hover {
    color: #FE665A;
    cursor: pointer;
}

.etiquette-content p {
    color: #6F6C90;
    font-family: DM Sans;
    font-size: 28px;
    font-weight: 400;
    line-height: 20px;
}

.etiquette-popup {
    background-color: #FE665A;
    border-radius: 8px;
    color: white;
    padding: 16px;
    font-size: 26px;
    position: absolute;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    z-index: 10;
    margin-left: 200px;
    transition: all 0.3s ease-in-out;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.visible {
    opacity: 1;
    pointer-events: auto;
}

.hidden-content {
    opacity: 0;
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
}

.line {
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.line::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #e1e1e1 75%, #ffffff 100%);
    animation: drop 10s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
    margin-left: -25%;
}

.line:nth-child(1)::after {
    animation-delay: 2s;
}

.line:nth-child(3) {
    margin-left: 25%;
}

.line:nth-child(3)::after {
    animation-delay: 3.5s;
}

@keyframes drop {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}

/*section pour la page blog*/
.container-blog {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    font-family: "Yu Gothic UI Semilight", sans-serif;
}

.container-blog h1 {
    text-align: center;
    color: var(--blog-h1-color);
    margin-bottom: 50px;
}

.blog-list {
    list-style: none;
    padding: 0;
}

.blog-item {
    display: block;
    background-color: var(--blog-item-background-color);
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 18px;
    border: 1px solid #5b5b5b;
    color: var(--text-color);
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
}

.blog-item .mdi {
    opacity: 0;
    font-size: 35px;
    position: absolute;
    right: 20px;
    transition: opacity 0.3s ease;
}

.blog-item:hover {
    padding-right: 40px;
    color: var(--blog-item-hover-color);
    background-color: #eee;
}

.blog-item:hover .mdi {
    opacity: 1;
}

.blog-item .mdi:hover {
    color: #ff8880;
}

/*anim bouton acceuil*/
span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

/*section bouton switch dark/light*/
.l-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}

.language-switcher {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.language-switcher a img {
    width: 30px;
    /* Ajustez la taille des drapeaux */
    height: auto;
}

.c-theme-switch {
    position: relative;
    width: 70px;
    height: 30px;
    margin-bottom: 16px;
    border-radius: 50px;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    cursor: pointer;

    .c-theme-switch__toggle {
        width: 24px;
        height: 24px;
        background: #FE665A;
        border-radius: 100%;
        position: absolute;
        top: 3px;
        left: 4px;
        transition: 500ms all ease;
    }
}

/* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

/* Nav bar responsive  */
@media screen and (max-width: 1000px) {

    /* nav et act responsive */
    .act h3 {
        font-size: 1rem;
    }

    .act {
        height: 15%;
        padding: 10px;
    }

    #icons {
        display: block;
        font-size: 70px;
        color: var(--text-color);
    }

    #icons:before {
        content: "\2630";
    }

    .active #icons:before {
        content: "\2715";
        z-index: 100;
    }

    nav ul {
        position: fixed;
        right: -100%;
        flex-direction: column;
        width: 100%;
        top: 50%;
        transform: translateY(-60%);
        text-align: center;
        transition: 0.25s;
        z-index: 100;
        background-color: rgba(255, 255, 255, 0.685);
        border-radius: 25px;
    }

    nav li {
        padding: 3px 0;
    }

    nav.active ul {
        right: 0;
    }

    /* baniere d'aceuil responsive  */
    .bancontainer {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .bancontainer h1 {
        font-size: 45px;
    }

    .orange-text-animated {
        font-size: 45px;
    }

    .acdroite lottie-player {
        width: 350px !important;
        height: 350px !important;
    }

    .validation-list {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    .validation-item {
        display: flex;
        align-items: start;
        justify-content: center;
        margin-bottom: 10px;
    }

    .validation-item p {
        margin: 0 30px;
        font-size: 138px;
    }

    .btncontact_accueil {
        font-size: 27px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .informations-container {
        padding: 20px;
    }

    .informations-container h4 {
        font-size: 40px;
    }

    /* accordeon */
    .ban-accordeon {
        flex-direction: column;
    }

    .ban-accordeon .lottie-container lottie-player {
        margin-top: 20px;
        width: 90% !important;
    }

    .accordeon {
        padding: 20px;
        width: 90%;
    }

    .accordeon-item {
        overflow: hidden;
    }

    .accordeon-title {
        font-size: 27px;
    }

    .accordeon-content {
        font-size: 20px;
    }

    /* responsive wrapper */
    .cards-wrapper {
        flex-wrap: wrap;
        margin: 20px;
    }

    .card-container {
        width: 400px;
        height: 600px;
    }

    .card-front {
        font-size: 30px;
    }

    .card-back {
        font-size: 30px;
    }

    /* responsive bubble */
    .bubble-container {
        display: flex;
        flex-direction: column;
    }

    .bubble {
        width: 100%;
        font-size: 20px;
        font-style: normal;
        line-height: normal;

    }

    /* responsive footer*/
    .footer-content {
        flex-wrap: wrap;
    }

    .contact-info,
    .address,
    .social-icons,
    .footer-nav {
        flex: 50%;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    /* Pages Cas D'usages */
    /* bancontainer1 */
    .bancontainer1 {
        margin: 0;
        width: 90%;
        padding: 20px;
        text-align: left;
        display: flex;
        flex-direction: column-reverse;
    }

    .bancontainer1 .acgauche h1 {
        font-size: 40px;
    }

    .bancontainer1 .acgauche h3 {
        font-size: 22px;
    }

    .bancontainer1 .soustitreban {
        font-size: 20px;
        width: 100%;
        text-align: justify;
        margin-bottom: 30px;
    }

    /*.bancontainer1 .acdroite{*/
    /*    width: 50px !important;*/
    /*    height: 50px !important;*/
    /*}*/


    /* bancontainer2 */
    .bancontainer2 {
        padding-left: 15px;
        flex-direction: column;
    }

    .bancontainer2 h1 {
        font-size: 40px;
        text-align: left;
    }

    .bancontainer2 h3 {
        font-size: 22px;
        margin-left: 0;
        text-align: left;
    }

    .bancontainer2 .soustitreban {
        font-size: 20px;
        text-align: justify;
        margin-bottom: 30px;
    }

    .bancontainer2>.acgauche {
        margin-left: 0;
    }

    /*.bancontainer2 .acdroite{*/
    /*    width: 50px !important;*/
    /*    height: 50px !important;*/
    /*}*

     */
    /* bancontainer3 */
    .bancontainer3 {
        text-align: left;
        padding: 20px;
        display: flex;
        flex-direction: column-reverse;
    }

    .bancontainer3 .acgauche h1 {
        font-size: 40px;
    }

    .bancontainer3 .acgauche h3 {
        font-size: 22px;
    }

    .bancontainer3 .soustitreban {
        font-size: 20px;
        width: 100%;
        text-align: justify;
        margin-bottom: 30px;
    }

    .modal p{
        font-size: 20px !important;
    }
    /*.bancontainer3 .acdroite{*/
    /*    width: 50px !important;*/
    /*    height: 50px !important;*/
    /*}*/

    .container-question {
        width: 96%;
        margin-top: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .container-question h1 {
        font-size: 40px;
    }

    .question {
        cursor: pointer;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .ligne-horiz {
        width: 90%;
        margin: auto;
    }

    .question-text {
        font-size: 20px;
        margin-right: 10px;
    }

    .triangle {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 15px;
    }

    .modal-content {
        max-width: 90%;
        padding: 20px 20px;
        font-size: 1rem;
    }

    .close-modal-icon {
        top: 20px;
        right: 20px;
        font-size: 30px;
        width: 18px;
        height: 18px;
    }

    .l-container {
        position: relative;
        bottom: 0;
        left: 0;
        margin: 20px;
    }

    span.orange-text {
        font-size: 40px;
    }

    .bancontainer1 p {
        font-size: 40px;
        line-height: normal;
    }

    .bancontainer2 p {
        font-size: 40px;
        line-height: normal;
    }

    .bancontainer3 p {
        font-size: 40px;
        line-height: normal;
    }

    .about-section {
        margin: 50px 50px;
        max-width: 90%;
    }

    /* Augmentez la taille de la police pour une meilleure lisibilité sur les petits écrans */
    .about-section h1 {
        font-size: 2rem;
        text-align: center;
    }

    .about-section p {
        margin-bottom: 10px;
        font-size: 1rem;
    }

    /* modal  */

}